<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>flask first page</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>
<body>
<div class="row text-center m-5 border-bottom">
	<h1>AI tooltip</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-6">
	      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
	        <div class="col p-4 d-flex flex-column position-static">
	          <h3 class="mb-5">Sentiment Analysis</h3>
	          <div class="d-flex justify-content-between">
	          	<div class="">
	          		<p class="mb-auto">copy your text here:</p>
	          	</div>
	          	<div class="">
	          		<button id="btn-sentiment" class="btn btn-success">
	          			let's try!
	          		</button>
	          	</div>
	          </div>
	          <textarea id="input-sentiment" class="my-3"></textarea>
	          result:
	          <div id="result-sentiment"></div>
	        </div>
	      </div>
	    </div>
	</div>
</div>

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
<script type="text/javascript">
$(document).ready(function(){
	// alert('hi')
	$('#btn-sentiment').click(function(){
		let payload = $('#input-sentiment').val()
		$.ajax({
			url:'/sentiment',
			method:'POST',
			headers:{
				'Accept':'application/json',
				'Content-Type':'application/json'
			},
			data:JSON.stringify({payload:payload}),
			success:function(data){
				$('#result-sentiment').html(data.message)
			},
			error:function(data){
			}
		})
	})
});
</script>
</body>
</html>